/* everything */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
}

/* shared */
#navigation-section,
#hero-section {
    background: #1F2937;
}


/* Navigation section */

#navigation-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    align-items: center;
}

.logo-nav {
    color: #f9FAF8;
    font-size: 24px;
    font-weight: 900;
}

#navigation-section .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li {
    color: #e5e7eb;
    font-size: 18px;
}

/* Hero section */
#hero-section {
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hero-image-section img{
    width: 500px;
}

.hero-text-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 700px;
}


.hero-text-section h1{
    display: flex;
    font-size: 48px;
    color: #f9FAF8;
    flex-wrap: wrap;
    font-weight: 900;
}

.hero-text-section p{
    display: flex;
    flex-wrap: wrap;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text-section button {
    background: #3882F6;
    border-radius: 10px;
    padding: 8px 25px;
    border: 2px solid #3882F6;
    color: #f9FAF8;
    font-weight: 900;
    font-size: 18px;
}

/* Random Information section */
#random-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 200px 100px;
    gap: 40px;
}

.random-info-section-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.row-of-info {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    gap: 10px;
}

.info-block .block {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 5px;
    box-sizing: border-box;
}

.info-block p{
    text-align: center;
    font-weight: 300;
}