* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
}

/* Navigation section */

#navigation-section {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    padding: 20px 200px;
    align-items: center;
}

.logo-nav {
    color: #f9FAF8;
    font-size: 24px;
    font-weight: 900;
}

#navigation-section .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li {
    color: #e5e7eb;
    font-size: 18px;
}
